/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Montserrat';
  src: url("../public/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

body {
   font-family: 'Montserrat', sans-serif;
}